.carousel-inner img {
    width: 100%;
    height: 100%;
}

#boton{
    margin-right: 2vw;
    margin-left: auto;
    margin-top: auto;
}

p{
    font-size: 20px;
}
.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    background-color: aqua;
}
.footer .a:hover{
    background-color: blue;
}
.containerVideo{
    margin-bottom: 20px;
    padding-bottom: 50px;
}
a.facebook{
    width: 30px;
    height: 30px;
    display:inline-block;
    background: url(./IMG/facebook.png);
}

a.facebook:hover{
    width:50px;
    height: 50px;
}

a.twitter{
    background: url(./IMG/twitter.png);
    display:inline-block;
    width:30px;
    height:30px;

}
a.twitter:hover{
    width:50px;
    height: 50px;
}


a.instagram{
    display:inline-block;
    background: url(./IMG/instagram.jpg);
    width:30px;
    height:30px;
}

a.instagram:hover{
    width:50px;
    height: 50px;
}


a.googleplus{
    display:inline-block;
    background: url(./IMG/googleplus.jpg);
    width:30px;
    height:30px;
}
