.carousel-inner img {
    width: 100%;
    height: 100%;
}

#boton{
    margin-right: 2vw;
    margin-left: auto;
    margin-top: auto;
}

p{
    font-size: 20px;
}
.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    background-color: aqua;
}
.footer .a:hover{
    background-color: blue;
}
.containerVideo{
    margin-bottom: 20px;
    padding-bottom: 50px;
}

